[submodule "frontend"]
	path = frontend
	url = https://gitlab.bodenai.com/agi-project/stem-system-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://gitlab.bodenai.com/agi-project/stem-system-backend.git
	branch = main
[submodule "worker"]
	path = worker
	url = https://gitlab.bodenai.com/agi-project/stem-system-worker.git
	branch = main
